services:
  web:
    build: .
    command: >
      sh -c "
      python manage.py collectstatic --noinput &&
      gunicorn stock_tracker.wsgi:application --bind 0.0.0.0:8000
      "
    env_file:
      - .env.prod
    volumes:
      - static_volume:/app/staticfiles
    depends_on:
      - redis

  celery_worker:
    build: .
    command: celery -A stock_tracker worker -l info
    env_file:
      - .env.prod
    restart: unless-stopped
    depends_on:
      - redis

  celery_beat:
    build: .
    command: celery -A stock_tracker beat -l info
    env_file:
      - .env.prod
    restart: unless-stopped
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - static_volume:/app/staticfiles
    depends_on:
      - web
volumes:
  static_volume: